body {
  padding: 2rem;
  height: 100vh;
  background-color: blue;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(151, 192, 208);
  min-width: 400px;
}

.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid grey;
}

.title {
  color: rgb(49, 69, 76);
}

.button {
  background-color: rgb(74, 101, 111);
  color: white;
  padding: 10px 10px;
  border: none;
  font-weight: bold;
  margin-top: 25px;
}
.list {
  list-style-type: none;
  margin-top: 10px;
}

.list-link {
  font-size: 19px;
  color: rgb(58, 72, 78);
  margin-top: 10px;
}
